.Card {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
	margin-bottom: 100px;
	margin-right: 20px;
}
.Card img {
	height: 50vw;
	margin-right: 12px;
}
.Card button {
	width: 100px;
	background-color: white;
	font-size: large;
	font-weight: 700;
	padding: 10px;
}
