.Header {
	background-color: black;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 100vw;
	padding-top: 20px;
}

.Header .catNav {
	display: flex;
	align-items: center;
}

.Header ul {
	list-style: none;
	color: black;
}

.Header a {
	text-decoration: none;
	color: white;
	border: 5px solid white;
}

.Header .hello {
	color: white;
}
