.Header {
	background-color: black;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 100vw;
	padding-top: 20px;
}

.Header .catNav {
	display: flex;
	align-items: center;
	border-radius: 12px;
	padding: 10px;
	font-size: larger;
	font-weight: 700;
}

.Header ul {
	list-style: none;
	color: black;
}

.Header a {
	text-decoration: none;
	color: white;
}

.Header .hello {
	color: white;
}

.Header button {
	border-radius: 12px;
}
